
package ${packageName}.${modularName}.${busName}.entity;

import com.baomidou.mybatisplus.annotation.*;
import com.zhisida.board.core.pojo.base.entity.BaseEntity;
import lombok.Data;
import lombok.EqualsAndHashCode;
import cn.afterturn.easypoi.excel.annotation.Excel;
#foreach ($column in $tableField)
#if (${column.javaType} == 'BigDecimal')
#end
#end

/**
 * ${functionName}
 *
 * @author ${authorName}
 * @date ${createDateString}
 */
@EqualsAndHashCode(callSuper = true)
@Data
@TableName("${tableName}")
public class ${ClassName} extends BaseEntity {

#foreach ($column in $tableField)
#if (${column.columnKey} == "PRI")
    /**
     * ${column.columnComment}
     */
    @TableId(type = IdType.ASSIGN_ID)
    private ${column.javaType} ${column.javaName};
#elseif (${column.whetherCommon} == 'N')

    /**
     * ${column.columnComment}
     */
#if(${column.javaType} == "Date")
    @Excel(name = "${column.columnComment}", databaseFormat = "yyyy-MM-dd HH:mm:ss", format = "yyyy-MM-dd", width = 20)
#end
    @Excel(name = "${column.columnComment}")
    private ${column.javaType} ${column.javaName};
#end
#end

}
